:root {
    --time-wrapper-background: rgb(22, 82, 37);
    --selected-button: rgb(1, 18, 5);
    --light-bg: rgb(79, 221, 95);
    --modal-bg: #c4f3c7;
    --main-element-shadow: 7px 7px 10px rgba(10, 110, 37, 0.319);
    --main-bg: rgb(212, 255, 215);
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--main-bg);
    margin: 0;
}
#title-holder {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    width: 200px;
    justify-content: center;
}

/* General header styles */
h1 {
    font-size: 4rem; /* Large text */
    font-weight: bold;
    color: #000000; /* Dark gray when not illuminated */
    text-align: center;
    font-family: 'Verdana', sans-serif;
    position: relative;
    margin: 0;
}

/* Word Animation: One by one */
h1 span {
    display: inline-block;
    opacity: 0.3; /* Start dim */
    animation: lightUp 4s infinite; /* Run the lighting up animation */
}

/* Control timing for each word */
h1 span:nth-child(1) {
    animation-delay: 1s;
}

h1 span:nth-child(2) {
    animation-delay: 2s;
}

h1 span:nth-child(3) {
    animation-delay: 3s;
}

/* Individual word lighting up and fading */
@keyframes lightUp {
    0% {
        opacity: 1; /* Dimmed */
        color: #000000;
        text-shadow: none;
    }
    5% {
        opacity: 1; /* Fully visible */
        color: rgb(0, 219, 51); /* Neon light */
        text-shadow: 0 0 2px rgb(157, 247, 255), 0 0 5px rgb(157, 247, 255), 0 0 7px rgb(157, 247, 255); /* Glow */
    }
    50% {
        opacity: 1; /* Stay fully visible */
        color: rgb(9, 90, 14); /* Neon light */
    }
    75% {
        opacity: 1; /* Fade back to dim */
        color: #000000;
        text-shadow: none;
    }
    100% {
        opacity: 1; /* Stay dim at the end */
        color: #000000;
        text-shadow: none;
    }
}

.login-text {
    font-family: 'Arial', sans-serif;
}

.main-head {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
}
input {
    width: 90%;
}
input[type="time"]{
    background: none;
    font-size: 10pt;
    border: none;
    width: fit-content;
}
input[type='file']{
    flex:none;
}
h2, h3, p {
    margin: 0;
}
#wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.modal-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background:rgba(0,0,0,.7);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.heading {
    text-align: center;
    font-size: 30pt;
}
.modal {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    background-color: #9ae485;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.542);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
#days-off-button-wrapper {
    height: 200px;
    width: auto;
    margin: 5px;
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.days-off-day-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    color: white;
    background: var(--time-wrapper-background);
    border-radius: 10px;
    display: flex;
    width: 100px;
    height: 75px;
    margin: 5px;
    box-shadow: 0px 0px 7px rgba(0, 100, 0, 0.76);
}
.off {
    background-color: var(--selected-button);
}
.hour-heading {
    background: var(--light-bg);
    padding: 5px;
    border-radius: 5px;
}
#main-time-wrapper {
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:none;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    outline: var(--time-wrapper-background) 2px solid;
    outline-offset: -10px;
    box-shadow: var(--main-element-shadow);
    padding: 20px;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.menu-wrapper {
    padding: 20px;
    outline: 2px solid black;
    outline-offset: -10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 20px;
    flex: 1;
}
#edit-wrapper {
    height: auto;
    width: 460px;
    flex-wrap: wrap;
    flex-direction: row;
}
#weekly-wrapper {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
#weekly-pay-wrapper {
    text-align: center;
}
#settings-button {
    width: 30px;
    height: 30px;
    z-index: 50;
}
.flex-class {
    display: flex;
}
.shrunk {
    height: 0px;
}
.shrunken {
    transform: scale(0,0);
}
.expanded {
    animation: grown .75s forwards ease-in-out;
}
.small {
    transform: scale(0,0);
}
@keyframes grow {
    0% {
        opacity: 0%;
        transform: scale(.7,.7);
    }
    35% {
        transform: scale(1.1,1.1);
    }
    100% {
        opacity: 100%;
        transform: scale(1,1);
    }
}
@keyframes grown {
    0% {
        height: 0px;
    }
    100% {
        height: 240px;
    }
}
@keyframes shrink {
    0% {
        height :240px;
    }
    100% {
        height: 0px;
    }
}
.shrink-anim {
    animation: shrink forwards ease-in-out .75s;
}
.grow-anim {
    animation: grow .35s forwards;
}
#main-menu-wrapper {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
#main-menu-wrapper > .menu-wrapper {
    flex: 1; /* Allow the left and right containers to grow equally */
}

#main-menu-wrapper > .menu-wrapper:nth-child(2) {
    flex: none; /* Middle container stays in its place */
}
.menu-button {
    width: 200px;
}
.button {
    cursor: pointer;
}
.adjust-time-wrapper {
    display: flex;
    flex-direction: row;
    width: 60px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3px;
    touch-action: manipulation;
}
.adjust-time-button {
    cursor: pointer;
    background-color: var(--light-bg);
    color: black;
    width: 15px;
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 50%;
    padding: 10px;
}
.adjust-time-text-minus {
    margin-bottom: 3px;
    font-size: 20pt;
}
.adjust-time-text-plus {
    margin-right: 1px;
    font-size: 14pt;
}
.menu-element {
    background: var(--light-bg);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--main-element-shadow);
    padding: 10px;
    gap: 20px;
    font-weight: 200;
}
.modal-button-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
.modal-button {
    background-color: var(--time-wrapper-background) !important;
    padding: 10px;
    max-width: 75px;
    color: white;
    font-size: 14pt;
    flex: none;
    text-align: center;
}
.number-input {
    padding: 5px;
    font-size: 14pt;
    border: none;
    border-radius: 25px;
    background: white;
    text-align: center;
}
.wfh-input {
    width: 30px;
}
.pay-input {
    width: 125px;
}
.menu-heading {
    color: black;
    font-family: Verdana;
    font-weight: normal;
    font-style: italic;
    font-size: 15pt;
}
.day-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--light-bg);
    border-radius: 10px;
    height: 220px;
    padding: 5px;
}
.time-wrapper {
    box-sizing: border-box;
    flex: none;
    text-align: center;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.no-meal {
    grid-template: 2fr / 1fr 1fr;
}
.time-div {
    background: rgb(217, 255, 219);
    width: 100px;
    height: 75px;
    flex: none;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.weekend {
    opacity: .5;
    pointer-events: none;
}
.hide-element {
    display: none;
}
@media screen and (max-width: 1090px) {
    #main-time-wrapper {
        width: 750px;
    }
}
@media screen and (max-width:1100px) {
    #wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        gap: 15px;
    }
    #edit-wrapper {
        height: auto;
        width: 230px;
        flex-direction: row;
    }
    @keyframes grown {
        0% {
            height: 0px;
        }
        100% {
            height: 240px;
        }
    }
    @keyframes shrink {
        0% {
            height: 240px;
        }
        100% {
            height: 0px;
        }
    }
    #weekly-wrapper {
        flex-direction: column;
    }
    h1 {
        font-size: 2.25em;
    }
    .menu-element {
        padding: 15px;
    }
    .menu-button {
        width: 75px;
        height: 25px;
        font-size: 10pt;
    }
    .menu-heading {
        font-size: 10pt;
    }
    #main-time-wrapper {
        width: 270px;
        gap: 20px;
        padding: 20px;
    }
}
@media screen and (max-width: 600px) {
    .modal {
        height: 400px;
        width: 250px;
        padding: 15px;
    }
    #days-off-button-wrapper {
        height: 125px;
    }
    .days-off-day-button {
        width: 40px;
        height: 40px;
        font-size: 18pt;
    }
}