:root {
    --time-wrapper-margin: 40px;
}
body {
    background: rgb(148, 211, 205);
    margin: 0;
}
#wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;
}
#main-time-wrapper {
    position: relative;
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    flex:none;
    flex-wrap: wrap;
    margin: 50px;
    background: rgb(16, 117, 41);
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
}
.time-wrapper {
    box-sizing: border-box;
    background: rgb(121, 236, 142);
    width: 200px;
    height: 200px;
    flex: none;
    margin-left: var(--time-wrapper-margin);
    margin-right: var(--time-wrapper-margin);
    font-size: 20pt;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
.day-off {
    opacity: .5;
}