:root {
    --time-wrapper-background: rgb(16, 117, 41);
    --selected-button: rgb(7, 47, 17);
    --light-bg: rgb(121, 236, 142);
    --main-element-shadow: 7px 7px 10px rgba(0, 0, 0, 0.434);
    --main-bg: rgb(236, 253, 225);
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--main-bg);
    margin: 0;
}
input {
    width: 90%;
}
input[type="time"]{
    background: none;
    font-size: 10pt;
    border: none;
    width: fit-content;
}
h2, h3, p {
    margin: 0;
}
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background:rgba(0,0,0,.7);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.heading {
    text-align: center;
    font-size: 30pt;
}
.modal {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    background-color: var(--main-bg);
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.542);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
#days-off-button-wrapper {
    height: 200px;
    width: auto;
    margin: 5px;
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.days-off-day-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    color: white;
    background: var(--time-wrapper-background);
    border-radius: 10px;
    display: flex;
    width: 100px;
    height: 75px;
    margin: 5px;
    box-shadow: 0px 0px 7px rgba(0, 100, 0, 0.76);
}
.off {
    background-color: var(--selected-button);
}
.hour-heading {
    background: var(--light-bg);
    padding: 5px;
    border-radius: 5px;
}
#main-time-wrapper {
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex:none;
    flex-wrap: wrap;
    background: var(--time-wrapper-background);
    border-radius: 10px;
    box-shadow: var(--main-element-shadow);
    padding: 10px;
    margin: 20px;
    gap: 10px;
}
#left-menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
#menu-wrapper {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
}
.button {
    cursor: pointer;
}
.adjust-time-wrapper {
    display: flex;
    flex-direction: row;
    width: 60px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3px;
    touch-action: manipulation;
}
.adjust-time-button {
    cursor: pointer;
    background-color: var(--light-bg);
    color: black;
    width: 15px;
    height: 15px;
    font-size: 14pt;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 50%;
    padding: 10px;
}
.adjust-time-text-minus {
    margin-bottom: 2px;
}
.adjust-time-text-plus {
    margin-right: 1px;
}
.menu-button {
    width: 150px;
    height: 50px;
}
.menu-element {
    background: var(--time-wrapper-background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--main-element-shadow);
}
.modal-button-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}
.modal-button {
    padding: 10px;
    max-width: 75px;
    color: white;
    font-size: 14pt;
    flex: none;
    text-align: center;
}
.number-input {
    padding: 5px;
    font-size: 14pt;
    border: none;
    border-radius: 25px;
    background: white;
    text-align: center;
}
.wfh-input {
    width: 30px;
}
.pay-input {
    width: 125px;
}
#weekly-time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex: none;
    background: var(--time-wrapper-background);
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    gap: 20px;
}
#from-home-wrapper {
    width: fit-content;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--time-wrapper-background);
    flex: none;
    border-radius: 20px;
    padding: 10px;
}
.menu-heading {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15pt;
}
.day-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--light-bg);
    border-radius: 10px;
    height: 220px;
    padding: 5px;
}
.time-wrapper {
    box-sizing: border-box;
    flex: none;
    text-align: center;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.no-meal {
    grid-template: 2fr / 1fr 1fr;
}
.time-div {
    background: rgb(217, 255, 219);
    width: 100px;
    height: 75px;
    flex: none;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.weekend {
    opacity: .5;
}
.hide-element {
    display: none;
}
@media screen and (min-width: 1101px) {
    body {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 1090px) {
    #main-time-wrapper {
        width: 750px;
    }
}
@media screen and (max-width:1100px) {
    #menu-wrapper {
        flex-direction: column;
        margin: 20px 0px 20px 0px;
    }
    #main-time-wrapper {
        width: 270px;
        gap: 20px;
        padding: 20px;
    }
}
@media screen and (max-width: 600px) {
    .modal {
        height: 400px;
        width: 250px;
        padding: 15px;
    }
    #days-off-button-wrapper {
        height: 125px;
    }
    .days-off-day-button {
        width: 40px;
        height: 40px;
        font-size: 18pt;
    }
    .menu-heading {
        font-size: 1.25em;
    }
}