:root {
    --time-wrapper-background: rgb(16, 117, 41);
    --selected-button: rgb(7, 47, 17);
    --light-bg: rgb(121, 236, 142);
}
body {
    background: rgb(148, 211, 205);
    margin: 0;
}
input {
    width: 90%;
}
input[type="time"]{
    background: none;
    font-size: 14pt;
    border: none;
    width: fit-content;
}
h2, h3, p {
    margin: 0;
}
#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background:rgba(0,0,0,.7);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.heading {
    font-size: 30pt;
}
#days-off-modal {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    background: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
#days-off-button-wrapper {
    height: 200px;
    width: auto;
    margin: 5px;
    flex: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.days-off-day-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    color: white;
    background: var(--time-wrapper-background);
    border-radius: 10px;
    display: flex;
    width: 100px;
    height: 75px;
    margin: 5px;
}
.off {
    background-color: var(--selected-button);
}
.hour-heading {
    background: var(--light-bg);
    padding: 5px;
    border-radius: 5px;
}
#main-time-wrapper {
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex:none;
    flex-wrap: wrap;
    background: var(--time-wrapper-background);
    border-radius: 10px;
    box-shadow: 10px 10px 20px black;
    padding: 10px;
    margin: 10px;
}
#left-menu-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}
#menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    flex-wrap: wrap;
}
.button {
    cursor: pointer;
}
#default-wrapper {
    flex: none;
    width: 250px;
    height: 50px;
}
#days-off-wrapper {
    width: 75px;
    height: 75px;
}
.menu-button {
    background: var(--time-wrapper-background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px black;
}
.confirm-button {
    width: 125px;
    height: 70px;
    color: white;
    font-size: 20pt;
}
.wfh-input {
    width: 45px;
    padding: 5px;
    font-size: 14pt;
    border: none;
    border-radius: 25px;
    background: white;
}
#weekly-time-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex: none;
    background: var(--time-wrapper-background);
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    height: 100px;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
#from-home-wrapper {
    width: fit-content;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--time-wrapper-background);
    flex: none;
    border-radius: 20px;
    padding: 10px;
}
.menu-heading {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.day-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--light-bg);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 220px;
    padding: 5px;
    margin: 10px;
}
.time-wrapper {
    box-sizing: border-box;
    flex: none;
    text-align: center;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.no-meal {
    grid-template: 2fr / 1fr 1fr;
}
.time-div {
    background: rgb(217, 255, 219);
    width: 150px;
    height: 75px;
    flex: none;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weekend {
    opacity: .5;
}
.hide-element {
    display: none;
}
@media screen and (max-width: 1090px) {
    #main-time-wrapper {
        width: 750px;
    }
}
@media screen and (max-width:860px) {
    #menu-wrapper {
        flex-direction: column;
    }
    #main-time-wrapper {
        width: 400px;
    }
}
@media screen and (max-width: 600px) {
    #days-off-modal {
        height: 400px;
        width: 250px;
        padding: 15px;
    }
    #days-off-button-wrapper {
        height: 125px;
    }
    .days-off-day-button {
        width: 40px;
        height: 40px;
        font-size: 18pt;
    }
    .menu-heading {
        font-size: 1.25em;
    }
}
@media screen and (max-width: 450px) {
    .time-div {
        width: 100px;
        font-size: 1em;
    }
    input[type="time"]{
        font-size: 1em;
        width: fit-content;
    }
    #main-time-wrapper {
        width: 280px;
    }
}